{% extends "base.html" %}

{% block meta %}
  {{ super() }}
  <meta name="keywords" content="justice, schema, data standard, legal technology, criminal justice">
  <meta property="og:title" content="Judicial Electronic Data Interchange Language">
  <meta property="og:description" content="A comprehensive schema for managing justice-related data.">
  <meta property="og:url" content="https://jonathanbowker.github.io/justice-definition-language">
  <meta property="og:image" content="https://example.com/social-image.png">
{% endblock %}

{% extends "base.html" %}

{% block announce %}
  <div>HHHHHHHHH</div>
{% endblock %}